@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

html {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  text-align: center;
  margin: 0;
}
.dark {
  --primary: #2d3748;
  --secondary: #e2e8f0;
  --secondary-hover: #cbd5e0;
  --info: #a56c16;
  --info-hover: #935a05;
  --success: #48bb78;
}
.light {
  --primary: #e2e8f0;
  --secondary: #2d3748;
  --secondary-hover: #1a202c;
  --info: #744210;
  --info-hover: #56300a;
  --success: #38a169;
}
#themeSelect,
#printer {
  cursor: pointer;
  margin: 0 0.5rem;
}
body {
  margin: 2rem;
  padding: 0;
  background-color: var(--primary);
  color: var(--secondary);
  transition: all 0.5s;
}
.row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
}
a {
  text-decoration: none;
  color: var(--secondary);
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  transition: color 0.3s;
}
a:hover {
  color: var(--secondary-hover);
}
header img {
  max-width: 150px;
  border-radius: 50%;
  border: 0.3rem solid var(--secondary);
}
.contact-data {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.contact-data * {
  margin: 0.5rem;
}
.break {
  flex-basis: 100%;
  height: 0;
}
.divider {
  width: 90%;
  height: 0.1rem;
  background-color: var(--secondary);
  margin: 1rem auto;
}
.job-title,
.company {
  text-align: justify;
  color: var(--info);
}
section p,
p {
  text-align: justify;
}
section a {
  color: var(--info);
}
section a:hover {
  color: var(--info-hover);
}
.skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}
.skills-item {
  min-height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0;
}
progress {
  border-radius: 2px;
  margin: 0.5rem 0;
  width: 100%;
  height: 1rem;
}
progress::-webkit-progress-bar {
  background-color: var(--secondary);
}
progress::-webkit-progress-value {
  background-color: var(--success);
}
.showcase {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0.5rem;
}
.showcase img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin: 0.5rem auto;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.6s ease;
  background-color: var(--primary);
}
.showcase:hover .overlay {
  opacity: 1;
}
.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.text-overlay a {
  color: var(--info);
}
.text-overlay a:hover {
  color: var(--info-hover);
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0 6rem;
  }
  #profilePic {
    margin: 0 3rem;
  }
  .skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
  }
  .row {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-around;
  }
}
